#ignore EAGLE backups
Schematics/*.s#*
Schematics/*.b#*
Schematics/*.pro

#MPLAB X stuff
bromoTimer.X/funclist
bromoTimer.X/.dep.inc
bromoTimer.X/build/*
bromoTimer.X/dist/*
bromoTimer.X/nbproject/private/*
bromoTimer.X/nbproject/Makefile*
